head
    meta(http-equiv='content-Type' content='text/html' charset='UTF-8')
    meta(name='viewport' content='width=device-width' inital-scale='1')
    link(rel='stylesheet' href='/stylesheets/css/bootstrap.css')
    title Welcome!!
.container
    .jumbotron
        h1 Welcome to my BBS
        h2 Selfmaking..

        img(src='/images/img.png', style='width=100%')
        pre
        p(style='text-align: center')
            a.btn.btn-primary.btn-pull(href='/login' role='button') 로그인하러 이동!
        pre
        p
            a(href='https://www.youtube.com/watch?v=CXcAKa-EW7Q' target='_blank') 노래 한곡 들으세요

