head
    meta(http-equiv='content-Type' content='text/html' charset='UTF-8')
    meta(name='viewport' content='width=100%' inital-scale='1')
    link(rel='stylesheet' href='/stylesheets/css/bootstrap.css')
    title Welcome!!
.container
    .jumbotron
        h1 Welcome!
        h3 회원들만 사용할 수 있는 게시판
        if(user)
            h5(style='text-align:right') 현재 아이디: #{user}
        div(style='text-align: center')
            if(user)
                img(src='/images/superjerry.gif' style='text-align:center; weight:70%; height:50%;')
            else
                img(src='/images/jerry.gif' style='text-align:center; weight:70%; height:50%;')
        pre
        if(user != null)
            div(style='text-align: center')
                a.btn.btn-primary.btn-pull(href='/posts' role='button' style='margin:5px') 게시판으로 이동
                a.btn.btn-warning.btn-pull(role='button' style='margin:5px' onclick='check()') 로그아웃
        else
            div(style='text-align: center')
                a.btn.btn-primary.btn-pull(href='/login' role='button' style='margin:5px') 로그인하러 이동!

        pre
        p
            a(href='https://www.youtube.com/watch?v=D1PvIWdJ8xo' target='_blank') 노래 한곡 들으세요
script.
    function check(){
        var con_test = confirm('로그아웃하시겠습니까?')
        if(con_test==true){
            document.location.href='/logout';
        }else{
            document.location.href='/';
        }

    }

