script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
link#custom-css(href='/stylesheets/custom_css/posts.css', rel='stylesheet')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
head
    h1(style='text-align:center') 게시판이라는 제목
table.type09(id='List')
    thead
        tr
            th(scope='cols' style="width:10%") Num
            th(scope='cols' style="width:45%") Title
            th(scope='cols' style="width:25%") Date
            th(scope='cols' style="width:10%") Written by
    tbody#tbody
            for post in posts
                tr
                    td= post.id
                    td= post.title
                    td= post.created_at
                    td= post.uid

body
    p(style='text-align: right')
        a.btn.btn-primary.btn-pull(href='/write' role='button') 글쓰기
